<head>
    <meta charset="utf-8">
    <style>
    body {
      font-family: Verdana, Geneva, sans-serif;
    }
    </style>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.js"></script>
    <script>
        $(function() {
            $.ajax({
                url: '{{ url_for("main.autocomplete") }}'
                }).done(function (data){
                    $('#movie_autocomplete').autocomplete({
                        source: data,
                        minLength: 2
                    });
                });
            });
    </script>
</head>
<body>
<h2>rate another movie</h2>
<form action="/submitRating" method="POST">
{{ form.autocomp.label }}: {{ form.autocomp }} {{ form.submit }}
</form>
  <table border = 1>
    {% for key, value in userratings.items() %}
    <tr>
      <th> {{ key }} </th>
      <td> {{ value }} </td>
    </tr>
    {% endfor %}
  </table>
  <br><br>
  <form action="/makeRecommendations" method="POST">
    <input type="submit" value="get recommendations" />
  </form>
</body>
      <!-- <form action="/submitRating", method="POST">
        <input list="movie" name="movie" placeholder="movie">
          <datalist id='movie'>
            {% for movie in movieOptions %}
            <option value='{{movie}}'>{{movie}}</option>
            {% endfor %}
          </datalist>
        <input type="submit" value="rate"/>
      </form>
    <h2>your ratings</h2>
      <table border = 1>
        {% for key, value in userratings.items() %}
        <tr>
          <th> {{ key }} </th>
          <td> {{ value }} </td>
        </tr>
        {% endfor %}
      </table>
    <h4>get movie recommendations now?<h4>
      <form action="/makeRecommendations" method="POST">
        <input type="submit" value="yes" onclick="loading();">
      </form>
  </body> -->
