<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
  <h2><a href={{ mp }} target="_blank">{{ movie }}</a></h2>
  <h4>provide a rating - </h4>
  <form action="/pickAnother" method="POST">
    <input type="radio" name="rating" value="5"> 5<br>
    <input type="radio" name="rating" value="4"> 4<br>
    <input type="radio" name="rating" value="3"> 3<br>
    <input type="radio" name="rating" value="2"> 2<br>
    <input type="radio" name="rating" value="1"> 1<br>
    <br>
    <input type="submit" value="submit">
  </form>
</body>
</html>
